body {
    background-color: rgb(210, 212, 55);
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(238, 142, 53);
    
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(238, 142, 53);
}

div {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
}

#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu {
    width: 625px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float:right;
}

.left {
    width: 200px;
    height: 200px;
    float:left;
}

.right {
    width: 200px;
    height: 200px;
    float: right;
}
.bottom {
    width: 225px;
    height: 200px;
    
    
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0 px auto;
    float: left;
}

#cart {
    top:0;margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;
}

